h1{
    color:blue;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
}
p 
{
    color:brown;
    text-align: justify;
    font-weight: 600;
    word-spacing: 2px;
    word-spacing: 3px;
    line-height: 2;
    font-family: 'Fira Sans', sans-serif;
}